/** SASS語法**/
$google_Red: #db3236;
$google_Green: #3cba54;
$google_Yellow: #f4c20d;
$google_Blue: #4885ed;
$gray: gray;

.hello {
  color: $google_Green;
}

.count {
  color: $google_Blue;
}

.btn {
  background-color: $google_Yellow;
}

.changetime {
  color: $google_Red
}